body {
    background-color: lightgray;
}

main {
    height: 100vh;
    position: relative;
    color: #555;
}

div.form-wrapper {
    background-color: white;
    width: 500px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 0 10px gray;;
}

h1 {
    text-align: center;
    margin: 15px 0;
}

input {
    margin-bottom: 2px;
}

span.msg{
    display: inline-block;
    color: red;
    margin-bottom: 5px;
    margin-top: 4px;
}

div.success {
    text-align: center;
}

div.success a{
    color: rgb(65, 65, 65);
    font-weight: 600;
}

div.success a:hover{
    color: rgb(107, 107, 107);
}